@model List<Category>
<div class="container">
    <div class="row pt-4 pd-3">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="category" asp-action="create" class="btn btn-primary" style="background-color: #93c572; border-color: #93c572; border-radius: 15px;">
                <i class="bi bi-plus-circle"></i>   Create New Category
            </a>
        </div>

    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>

                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>@obj.DisplayOrder</td>
                    <td><div> <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"> <i class="bi bi-pencil-square"></i></a> </div> </td>
                    <td><div> <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="danger" style="color:red;">  <i class="bi bi-trash"></i>

                </a> </div> </td>
                </tr>
            }
        </tbody>
    </table>
</div>